*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
.container{
    width: 90%;
    height: 100vh;
    background: beige;
    display: flex;
    align-items: center;
    justify-content: center;

}
h3{
    color: aquamarine;
    text-align: center;
    justify-content: center;
    font-size: larger;
    font-weight: 800;
    font-size: 30px;
}
.calculator{
    background-color: rgb(26, 25, 23);
    padding: 10PX;
    border-radius: 10PX;

}
.calculator form input{
    border:0;
    outline:0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 4px  rgba(255,255,255,0.5);
    background: rgb(235, 240, 227);
    color: black;
    font-size: 27px;
    font-weight: 700;
    margin: 9px;
    padding: 12px;
    cursor: pointer;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
   
    
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 49px;
    background-color: rgba(157, 168, 106, 0.947);
    box-shadow: 3px 4px 6px rgba(184, 48, 132, 0.7);
    color: black;
    outline: none;

}
form input.equal{
    width: 145px;
    color: rgb(143, 105, 105);
    background-color: rgb(175, 210, 110);
    font-size: xx-large;
}
form input.operation{
   color: rgb(216, 116, 16);
}
form input.operater{
    color:#07c9de;
    font-size: 40px;
   text-align: center;
   justify-content: center;

}
